<div class="contaner">
    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
        <h2>KẾT QUẢ HỌC TẬP</h2><br><br>
    </div>
    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
        <div class="row col-xs-10 col-sm-10 col-md-10 col-lg-10" style="margin-left: 150px">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Năm</th>
                        <th>Học kỳ</th>
                        <th>Tên môn</th>
                        <th>Số chỉ</th>
                        <th>Thường kỳ</th>
                        <th>Giữa kỳ</th>
                        <th>Thực hành</th>
                        <th>Cuối kỳ</th>
                        <th>Điểm tổng kết</th>
                        <th>Xếp loại</th>
                    </tr>
                </thead>
                <tbody>
                    <%for(let i=0;i< list.length;i++){%>
                        <tr>
                    
                            <td><%=list[i].Nam%></td>
                            <td><%=list[i].hocky%></td>
                            <td><%=list[i].TenMHHP%></td>
                            <td><%=list[i].SoTinChi%></td>
                            <td><%=list[i].DiemTK%></td>
                            <td><%=list[i].DiemGK%></td>
                            <td><%=list[i].DiemTH%></td>
                            <td><%=list[i].DiemCK%></td>
                            <td>
                                <% if( list[i].DiemTK== null || list[i].DiemGK== null ||list[i].DiemCK== null ||list[i].DiemTH== null){ %>
                                    
                                <%}else{%>
                                    <%=(((list[i].DiemTK+list[i].DiemTH)/2)*2 
                                    +(list[i].DiemGK*3)
                                    +(list[i].DiemCK*5))/10%>
                                <%}%>
                            </td>
                            <td>
                                <% if( list[i].DiemTK== null || list[i].DiemGK== null ||list[i].DiemCK== null ||list[i].DiemTH== null){ %>
                                    
                                <%}else{%>
                                    <% var x =  (((list[i].DiemTK+list[i].DiemTH)/2)*2  
                                                +(list[i].DiemGK*3) 
                                                +(list[i].DiemCK*5))/10%>
                                    <% if( x>=8 ){ %>
                                        Giỏi
                                    <% } %>
                                    <% if( x<8 && x>=6.5 ){ %>
                                        Khá
                                    <% } %>
                                    <% if( x<6.5 && x>=5 ){ %>
                                        Trung bình
                                    <% } %>
                                    <% if(x<5 && x >= 4){ %>
                                        Kém
                                    <% } %>
                                    <% if( x<4 ){ %>
                                        Học lại
                                    <% } %>
                                <%}%>
                            </td>    

                        </tr>
                    <%}%>

                </tbody>
            </table>
        </div>
    </div>


</div>